openai
pandas
numpy
python-dotenv
requests
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
ipywidgets
pathlib
streamlit
langchain
langchain-core
langchain_groq
langchain-community
langchain-openai
langchain-ollama